*{
    margin: 0;
    padding: 0;

}

body {
    background-color: #0E1014;
    color: #ffffff;
}

h1{
    font-family: "Unbounded", sans-serif;
    font-size: 64px;
    font-weight: bold;
}

p{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

h1 span{
    color: #9747FF;
}

a{
    color: #ffffff;
}